@model ChangeRoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Model.UserEmail</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <input type="hidden" asp-for="UserId" />
                <div class="form-group">
                    <label for="UserRole">Role</label>
                    <select asp-for="UserRole" asp-items="@(new SelectList(Model.AllRoles, "Name", "Name"))" class="form-control"></select>
                </div>
                <button type="submit" class="btn btn-default">Update</button>
            </form>
        </div>
    </div>
</div>