    @model IEnumerable<dynamic>

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Role</td>
                <td>
                    @if(user.Role == null || user.Role == "User")
                    {
                        <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

