@using ProjetoPv.Areas.Identity.Data;
@model IEnumerable<ProjetoPvUser>
@{
    ViewData["Tittle"] = "HomePage";
}
<table class = "table">
    <tr>
        <th>
            Email
        </th>

    </tr>
    @foreach ( var item in Model)
    {
        <tr>
            <td>
                @item.Email <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>

    }
</table>
