<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        
        .title {
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .description {
            font-size: 24px;
            margin-bottom: 40px;
            text-align: center;
        }
        
        .link {
            font-size: 20px;
            color: #337ab7;
            text-decoration: none;
        }
    </style>
</head>
<body>
    
        <h1 class="title">Bem-vindo ao PSG</h1>
        <p class="description">O Paris Saint-Germain Football Club, conhecido como PSG, é um clube de futebol francês com sede em Paris. O clube foi fundado em 1970 e se tornou um dos clubes mais populares e bem-sucedidos da Europa.</p>
        <p class="description">O PSG tem uma história rica, conquistando inúmeros títulos nacionais e internacionais ao longo dos anos. O clube é conhecido por sua equipe talentosa, estilo de jogo ofensivo e jogadores icônicos como Neymar, Kylian Mbappé e Lionel Messi.</p>
        <p class="description">Para saber mais sobre o PSG e acompanhar as últimas notícias, visite o site oficial do clube em <a class="link" href="https://www.psg.fr/">https://www.psg.fr/</a>.</p>

</body>
</html>